<section id="about-a" class="text-center py-3">
    <div class="container">
      <h2 class="section-title">About Me</h2>
      <div class="bottom-line"></div>
      <p class="lead">Let me tell you a little about myself and what I do...</p>
      <div class="about-info">
        <img [src]="imgAbout" alt="" class="bio-image">
        <div class="bio bg-light">
          <h4>Alvaro Martinez</h4>
          <ul>
              <li>Bachelor Degree: Software Engineer</li>
              <li>Date of birth: 9-10-1986</li>
              <li>City: Cali, Colombia</li>
              <li>Hobbies: Dance, Hike, Travel, Reading</li>
          </ul>
          <p class="lead">Let me tell you a little about myself and what I do. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis commodi omnis dolores similique iure, excepturi 
              blanditiis architecto! Iusto qui eum rerum beatae eligendi at odit!</p>
        </div>
      </div>
    </div>
  </section>