<section id="about-a" class="text-center py-3">
    <div class="container">
      <h2 class="section-title">About Me</h2>
      <div class="bottom-line"></div>
      <p class="lead">Let me tell you a little about myself and what I do...</p>
      <div class="about-info">
        <img [src]="imgAbout" alt="" class="bio-image">
        <div class="bio bg-light">
          <h4>Alvaro Martinez</h4>
          <ul>
              <li>Bachelor Degree: Software Engineer</li>
              <li>Date of birth: 9-10-1986</li>
              <li>City: Cali, Colombia</li>
              <li>Hobbies: Dance, Hike, Travel, Reading</li>
          </ul>
          <p class="lead">Software developer with 5+ years of experience and focused on Front end development and application of design patterns with PHP. Skilled in Javascript, React, CSS, Angular, and Typescript.

            React developer with 1+ years working with redux, thunk, sagas, hooks, and unit test with Jest.
            A full-stack developer working with Javascript, Jquery, CSS, Drupal, and PHP.

            Full-stack developer working with Vue, Vuex, Nuxt, options API, Netlify, Strappi, Graphql, and apollo.</p>
        </div>
      </div>
    </div>
  </section>
