<header class="container">
  <div class="row">
    <div class="col-12 presentation-card">
      <div class="wrapped">
        <div class="description">
          <h2 class="section-title">Profile</h2>
          <div class="bottom-line"></div>
          <p> I am a Software Engineer with experience in web developing and code writing. I am interested in Clean code and design patterns. I
            like to interact directly with the final user, so I always like to learn JavaScript, CSS, HTML5 and web UI modern technologies. Also, I am passionate about creating video games: Unity,
            User
            Experience, C#.</p>
        </div>
      </div>
    </div>
  </div>
</header>