<header class="container">
  <div class="row">
    <div class="col-12 presentation-card">
      <div class="wrapped">
        <div class="description">
          <h2 class="section-title">Profile</h2>
          <div class="bottom-line"></div>
          <p> Software Engineer with 5+ years of experience developing web applications using Javascript, React.js, PHP, Laravel and Drupal for local and international clients. In love with React.js and Javascript/Typescript.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
