<section id="home-a" class="text-center py-2 my-3">
  <div class="container">
    <h2 class="section-title">My Technical skills are</h2>
    <div class="bottom-line"></div>
    <p class="lead">
      Development as weel as creating difital masterpieces and UI/UX layouts for websites and mobile applications
    </p>
    <div class="specials">
      <div>
        <i class="fab fa-html5 fa-3x"></i><i class="fab fa-css3-alt fa-3x"></i>
        <h3>Front end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, eius similique. Repudiandae rerum provident eum eos ab aspernatur neque laboriosam.</p>
      </div>
      <div>
        <i class="fab fa-drupal fa-3x"></i><i class="fab fa-php fa-3x"></i>
        <h3>Drupal and PHP</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, eius similique. Repudiandae rerum provident eum eos ab aspernatur neque laboriosam.</p>
      </div>
      <div>
        <i class="fab fa-js fa-3x"></i>
        <h3>Javascript</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, eius similique. Repudiandae rerum provident eum eos ab aspernatur neque laboriosam.</p>
      </div>
      <div>
        <i class="fas fa-gamepad fa-3x"></i>
        <h3>Game Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, eius similique. Repudiandae rerum provident eum eos ab aspernatur neque laboriosam.</p>
      </div>
    </div>
  </div>
</section>