<section id="home-a" class="text-center py-2 my-3">
  <div class="container">
    <h2 class="section-title">My Technical skills are</h2>
    <div class="bottom-line"></div>
    <p class="lead">
      Development as weel as creating difital masterpieces and UI/UX layouts for websites and mobile applications
    </p>
    <div class="specials">
      <div>
        <i class="fab fa-html5 fa-3x"></i><i class="fab fa-css3-alt fa-3x"></i>
        <h3>Front end development</h3>
        <p>One of my passion is videogames and that is the reason that I choose my specialization in front-end development.
          The interaction of any application with the final user is the problem that I liked to resolve.</p>
      </div>
      <div>
        <i class="fab fa-leanpub fa-3x"></i>
        <h3>Pattern desings and clean code</h3>
        <p>One of the quotes that inspires me as developer is "a programmer who writes clean code is an artist who can take a blank screen
          through a series of transformations until it is an elegantly coded system" by Robert C Martin, and that is what I want be a great artist of the code. </p>
      </div>
      <div>
        <i class="fab fa-js fa-3x"></i>
        <h3>Javascript</h3>
        <p>Easy to learn, powerfull to implement, faster user experiences, insanely popular... Those are the reasons that I choosed Javascript as my prefered language.</p>
      </div>
      <div>
        <i class="fab fa-react fa-3x"></i><i class="fab fa-vuejs fa-3x"></i>
        <h3>JS Frameworks</h3>
        <p>The Javascript Frameworks are the implementation of many design patterns building in community, and community is
          one of the most powerfull things in the development communities. That is the importance that I give to know the behavior in each framwework.</p>
      </div>
    </div>
  </div>
</section>
