<section id="about-b" class="bg-dark py-3">
  <h2 class="section-title">Technical and Soft Skills </h2>
  <div class="bottom-line"></div>
  <div class="skills">
    <div class="tech-skills">
      <h4>Javascript</h4>
      <div class="progress">
        <div style="width: 80%;"></div>
      </div>
      <h4>HTML & CSS</h4>
      <div class="progress">
        <div style="width: 90%;"></div>
      </div>
      <h4>Drupal</h4>
      <div class="progress">
        <div style="width: 70%;"></div>
      </div>
      <h4>Angular</h4>
      <div class="progress">
        <div style="width: 60%;"></div>
      </div>
      <h4>React</h4>
      <div class="progress">
        <div style="width: 70%;"></div>
      </div>
      <h4>Sass</h4>
      <div class="progress">
        <div style="width: 50%;"></div>
      </div>
    </div>
    <div class="soft-skills">
      <div class="soft-mayor">
        <div class="soft-minor">
          <p> Adaptability </p>
        </div>
      </div>
      <div class="soft-mayor">
        <div class="soft-minor">
          <p>Leadership</p>
        </div>
      </div>
      <div class="soft-mayor">
        <div class="soft-minor">
          <p>Creative thinking</p>
        </div>
      </div>
      <div class="soft-mayor">
        <div class="soft-minor">
          <p>Motivation</p>
        </div>
      </div>
      <div class="soft-mayor">
        <div class="soft-minor">
          <p>Critical thinking</p>
        </div>
      </div>
      <div class="soft-mayor">
        <div class="soft-minor">
          <p>Communication</p>
        </div>
      </div>
    </div>
  </div>
</section>
