@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import 'sass/config';
@import 'sass/utilities';

// General Styles 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
}

.main-nav {
  font-family: 'Oswald', sans-serif;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-nav {
    
    a{
      border-bottom: 3px transparent solid;
  
      &:hover{
        border-color: $light-color;
      }
  
      &.current{
        border-color: $main-color;
      }
    }
  }

  .personal-brand{
    margin-left: 2.5rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;

    .brand{
        display: inline;
        margin-left: 0.5rem;
    }

    .name-brand {
      font-family: 'Oswald', sans-serif;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .menu-nav {
    display: flex;
    margin-right: 14rem;

    li {
      padding: 1rem 2rem;
    }
  }
}

//Header Content 
.header-content {
  background: $bg-image no-repeat center right / cover;
  height: 100vh;
  padding-left: 10%;

  h1{
    color: $light-color;
    font-size: 7rem;
    line-height: 1.2;

    div {
      display: block;
      overflow: hidden;
  
      .side-inital {
        transform: translateY(100%);
        animation: heading 1s forwards ease-in;
      }
    }
  }

  .txt-type {
    font-size: 3.5rem;
    border-right: 0.2rem solid $light-color;
    color: $light-color;
  }

  a {
    margin-top: 5rem;

    &:hover{
      background-color: $main-color;
    }
  }
}

.wrapped {
  margin-top: 5rem;
  //margin-left: 6rem;
  padding: 3rem 2.5rem 4rem 2.5rem;
  box-shadow: 0px 4px 7px 1px rgb(0,0,0, 0.1);
  background-color: $light-color;
  position: relative;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.5; 
  
  img {
    height: 55vh;
    width: 55vh;
    border-radius: 50%;
    position: absolute;
    top: -6%;
    left: -10%;
    margin-left: -150px
  }
}

#home{
  &-a {
    margin-top: 3rem;

    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fab, .fas{
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
}

//Footer
#main-footer {
  background: $dark-color;
  color: $light-color;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab,
    .social .fa {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}

//Animations 
@keyframes heading {
  to{
    transform: translateY(0);
  }
}